*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.jks.base64
keystore.properties
icon.png
icon_fixed.png
icon_raw.jpg
icon_fixed.png
